// Custom theme
$primary: #fe5b02;
$info: #241f21;
$secondary: #e1e1e1;
$transition: all 0.25s linear;

@import "../node_modules/bootstrap/scss/bootstrap";

// Supportive class
.disOverflowY {
  overflow-y: hidden;
}

.stickyTop {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 3px 3px 5px var(--gray);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.active {
  color: $primary !important;
  position: relative;
  width: fit-content;

  &::before {
    content: "";
    height: 3px;
    width: 50%;
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: $primary;
    animation: slideLeft 0.25s linear;
  }

  &::after {
    content: "";
    height: 3px;
    width: 50%;
    position: absolute;
    right: 0;
    bottom: -5px;
    background-color: $primary;
    animation: slideRight 0.5s linear;
  }

  @keyframes slideLeft {
    from {
      left: -1rem;
      right: -1rem;
    }
    to {
      left: 0;
      right: 0;
    }
  }
  @keyframes slideRight {
    from {
      right: -1rem;
    }
    to {
      right: 0;
    }
  }
}

.border-radius-lg {
  border-radius: 30px !important;
}
