// Obitron
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

// Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

// Be Vietnam Pro
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800&display=swap");

@import "./mixin.scss";
@import "./main.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  scroll-behavior: smooth;
}

// Variables
:root {
  --sidebar-height: 72px;
  --dark: $info;
  --light: $light;
  --primary: $primary;
}

html[data-theme="light"] {
  --pri: #fe5b02;
  --bg-color: #f8f9fa;
  --text-color: #241f21;
  --gray: #e1e1e1;
}

html[data-theme="dark"] {
  --pri: #fe5b02;
  --bg-color: #241f21;
  --text-color: #f8f9fa;
  --gray: #7f7f7f;
}

html[data-language="en"] {
  --font-family: "Poppins", sans-serif;
}

html[data-language="vi"] {
  --font-family: "Be Vietnam Pro", sans-serif;
}

html,
body {
  overflow: hidden;
  height: 100vh;
  min-width: 320px;
  margin: auto;
  user-select: none;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  @include hideScrollBar();

  @include xlTablet() {
    height: unset;
    overflow: auto;
  }
}

.parent {
  overflow: scroll;
  height: calc(100vh - (var(--sidebar-height)));
  scroll-snap-type: y mandatory;

  @include hideScrollBar();

  & > div,
  & > section,
  & > footer {
    height: calc(100vh - (var(--sidebar-height)));
    scroll-snap-align: start;
    position: relative;

    @include tablet() {
      height: unset;
    }
  }

  & > section#certificate {
    height: calc(100vh - (var(--sidebar-height)));
  }

  & > footer {
    height: auto;
  }
}

// Config

a {
  text-decoration: none;
}

button,
#resume {
  border: none;
  width: 130px;
  max-width: 130px;
}

ul {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

/*-------- PROJECT --------*/
// Sidebar
#sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 70%;
  max-width: 400px;
  z-index: 999;
  transition: $transition;
  background-color: var(--bg-color);
  box-shadow: 5px 5px 10px #ccc;
  display: flex;
  flex-direction: column;
  @include modalDeactive();

  @include mobile() {
    max-width: 100%;
    width: 100%;
  }

  @include height350() {
    overflow-y: scroll;
  }

  &.showSidebar {
    left: 0 !important;
    @include modalActive();
  }

  .head {
    @include flexBetween();

    p {
      display: flex;
      align-items: center;
      font-size: 2rem;
      color: var(--text-color);
      letter-spacing: 5px;
      margin-bottom: 0;

      span {
        background-color: var(--text-color);
        @include flexCenter();
        width: 60px;
        height: 60px;
        border-radius: 100rem;
        color: var(--bg-color);
        letter-spacing: 0;
      }
    }

    .close {
      width: fit-content;
    }
  }

  .body {
    padding-block: 2rem;
    margin-bottom: auto;

    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      li {
        a {
          color: var(--text-color);
          font-size: 1.5rem;

          i {
            width: 30px;
            text-align: center;
            margin-right: 0.5rem;
            color: var(--pri);
          }
        }
      }
    }
  }

  .bottom {
    ul {
      display: flex;
      position: static;
      width: initial;
      transform: unset;
      background-color: initial;
    }
  }
}

// Social
#social {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
  width: 325px;
  max-width: 325px;
  background-color: var(--gray);
  border-color: var(--gray);
  border-radius: 1rem;
  @include flexBetween();

  @include xlTablet() {
    display: none;
  }

  li {
    transition: $transition;
    &:hover {
      opacity: 0.8;
    }
  }
}

// Header
header {
  .wrapper {
    @include flexBetween();

    ul {
      @include flexBetween();
      flex: 2;
      gap: 2rem;

      @include xlTablet() {
        display: none;
      }

      li {
        white-space: nowrap;

        a {
          color: var(--text-color);

          i {
            display: none !important;
          }
        }
      }
    }

    .bar {
      flex: 2;
      display: none;
      font-size: 1.5rem;
      cursor: pointer;

      @include xlTablet() {
        display: block;
      }
    }

    .letter-name {
      flex: 1;
      span {
        @include flexCenter();
        width: 40px;
        height: 40px;
        border-radius: 100rem;
        background-color: var(--text-color);
        color: var(--bg-color);
        font-weight: bold;
        font-size: 40px;
        margin: auto;
        cursor: pointer;
        position: relative;
      }
    }

    .contact-btn {
      flex: 2;
      a {
        padding: 0.5rem 1rem;
        display: block;
        margin-left: auto;
      }
    }
  }
}

// Hero
.hero {
  @include tablet() {
    gap: 2rem 0;
  }

  .left {
    .top {
      h2 {
        font-family: "Obitron", sans-serif;
        font-size: 3.5rem;

        @include tv() {
          font-size: 3rem;
        }
        @include xlDesktop {
          font-size: 2.8rem;
        }
        @include xlTablet {
          font-size: 2rem;
        }
      }
    }

    .bottom {
      .skills {
        ul {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;

          li {
            padding: 0.5rem 1rem;
            border-radius: 5px;
            font-weight: 600;
            cursor: pointer;
            transition: $transition;

            &:hover {
              opacity: 0.8;
            }

            &:first-child {
              background-color: #fe8e3e;
            }
            &:nth-child(2) {
              background-color: var(--pri);
              color: var(--bg-color);
            }
            &:nth-child(3) {
              background-color: var(--text-color);
              color: var(--bg-color);
            }
            &:nth-child(4) {
              background-color: var(--gray);
            }
          }
        }
      }
    }
  }
  .right {
    height: fit-content;

    .avatar {
      img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

// Contact form
#contact-form {
  @include modal();

  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background: linear-gradient(rgb(0 0 0 / 30%), rgb(0 0 0 / 30%)),
      url(../images/activities/kao.jpg);
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100%;
  }
  .wrapper {
    border-radius: 5px;
    z-index: 4;
    height: 100vh;
    overflow-y: scroll;
    @include hideScrollBar();

    .heading {
      width: fit-content;

      h4 {
        font-size: 2rem;
        letter-spacing: 5px;
      }
    }
  }

  &.active {
    @include modalActive();
  }

  .form-container {
    @include tablet() {
      flex-direction: column-reverse;
    }

    form {
      input,
      textarea {
        background-color: transparent;
        color: var(--bg-color);
        border: 2px solid var(--bg-color);

        &::placeholder {
          color: var(--pri);
        }
      }

      button[type="submit"] {
        @include mobile() {
          float: right;
        }
      }
    }

    .visit-card {
      .information {
        li {
          display: grid;
          grid-template-columns: 1fr 8fr;
          align-items: center;
          gap: 1rem;
          margin-bottom: 1rem;

          i {
            color: var(--pri);
            text-align: center;
            background-color: var(--bg-color);
            width: 40px;
            height: 40px;
            border-radius: 5px;
            @include flexCenter();
          }

          span {
            color: var(--pri);
          }
        }
      }
    }
  }
}

// Activities
#activities {
  grid-template-areas:
    "heading heading"
    "netImg netText"
    "gwText gwImg"
    "kaoImg gwImg"
    "kaoImg kaoText"
    "kaoImg kaoText";
  gap: 3rem 2rem;
  padding-bottom: 3rem;
  overflow-y: scroll;
  @include hideScrollBar();

  @include tablet() {
    grid-template-areas:
      "heading"
      "netImg"
      "netText"
      "gwImg"
      "gwText"
      "kaoImg"
      "kaoText";
  }

  h2 {
    grid-area: heading;
    @include heading2();
  }

  .image {
    &.img_netcompany {
      grid-area: netImg;
    }
    &.img_greenwich {
      grid-area: gwImg;
    }
    &.img_kao {
      grid-area: kaoImg;

      img {
        @include tablet() {
          height: calc(100vh - 200px);
        }
      }
    }

    opacity: 1;

    @include tablet() {
      opacity: initial;
    }

    img {
      object-fit: contain;
      object-position: top;
      border-radius: 5px;
      cursor: pointer;
      transition: $transition;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }

  .desc {
    @include tablet() {
      &:last-child {
        padding-bottom: 3rem;
      }
    }

    &.img_netcompany {
      grid-area: netText;
    }
    &.img_greenwich {
      grid-area: gwText;
    }
    &.img_kao {
      grid-area: kaoText;
    }

    blockquote {
      font-size: 1.5rem;
      text-transform: capitalize;
    }
    p {
      text-indent: 1.5rem;
      line-height: 1.6;
      text-align: justify;
      display: inline-block;
    }
  }
}

// Certificate
#certificate {
  h2 {
    @include heading2();

    @include xlTablet() {
      margin-top: unset;
    }

    @include mini() {
      font-size: 2.5rem;
    }
  }

  .wrapper {
    position: relative;
    height: calc(100% - 9rem);

    &:before,
    &:after {
      position: absolute;
      top: 0;
      z-index: 1;

      content: "";
      display: block;
      width: 1rem;
      height: 100%;
    }

    &:before {
      left: 0;
      background: linear-gradient(90deg, $info, transparent);
    }

    &:after {
      right: 0;
      background: linear-gradient(-90deg, $info, transparent);
    }

    ul {
      @include flexBetween();
      gap: 1rem;
      position: relative;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      cursor: grab;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      scroll-padding: 15px;
      overflow-y: hidden;
      touch-action: manipulation;
      @include hideScrollBar();

      &:active {
        cursor: grabbing;
      }

      @include xlTablet() {
        align-items: flex-start;
      }

      li {
        height: 100%;
        scroll-snap-align: start;

        @include xlTablet() {
          width: 50vw;
          height: auto;

          &:nth-child(4) {
            height: 90vh;

            img {
              height: 70%;

              @include height350 {
                height: 90%;
              }
            }
          }
        }

        @include tablet() {
          width: 70vw;
        }

        @include mobile() {
          width: 80vw;
        }

        img {
          height: calc(100% - 2rem);
          object-fit: contain;

          @include xlTablet() {
            width: 50vw;
            height: auto;
          }

          @include tablet() {
            width: 70vw;
          }

          @include mobile() {
            width: 80vw;
          }
        }
      }
    }
  }
}

// Edu & Exp
#eduexp {
  @include xlDesktop() {
    overflow: auto;

    @include hideScrollBar();
  }

  h2 {
    @include heading2();
  }
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;

    @include xlDesktop() {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: unset;
    }

    li {
      @include xlDesktop() {
        @include flexBetween();
      }

      @include tablet() {
        flex-wrap: wrap;
      }

      img {
        object-fit: contain;
        display: block;
        margin: auto;
        transition: $transition;
        cursor: pointer;
        filter: grayscale(1);

        @include tablet() {
          width: 100% !important;
        }

        &:hover {
          filter: grayscale(0);
        }
      }

      table {
        tr td,
        tr th {
          color: var(--text-color);
          text-transform: capitalize;
          a iframe {
            display: none;
            position: absolute;
            border: 1px solid var(--text-color);
            width: 400px;
            height: 400px;
          }
        }
      }

      tr:last-child td {
        text-transform: none;
      }
    }
  }
}

// Footer
#footer {
  background-color: var(--gray);
  color: var(--text-color);
  ul {
    @include xlMobile() {
      flex-direction: column;
      gap: 1rem;
    }

    li blockquote {
      @include mini {
        font-size: 12px;
      }
    }
  }

  .contact {
    @include flexCenter();
    flex-direction: row;
    gap: 1rem;

    @include xlMobile() {
      margin-top: 1rem;
    }
  }
}

// MEDIA popup
#media {
  @include modal();
  flex-direction: column;

  iframe,
  img {
    @include tablet() {
      width: 100vw !important;
      min-width: 100%;
    }
  }

  img {
    @include tablet() {
      object-fit: contain !important;
    }
  }

  &.active {
    @include modalActive();
  }

  button {
    width: fit-content;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;

    @include tablet() {
      top: 0;
      right: 0;
    }
  }
}

// toggle-theme
.toggle-theme-wrapper {
  @include xlTablet() {
    @include modalDeactive();
    display: none;
    transition: $transition;
  }

  position: fixed;
  top: 50%;
  right: 5px;
  z-index: 11;
  width: 5.5rem;
  height: 2.5rem;

  label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;

    input {
      &:checked + .slider {
        background-color: $primary;

        &::before {
          transform: translateX(48px);
          background-color: $light;
        }
      }
    }

    .slider {
      height: 100%;
      border-radius: 50rem;
      background-color: $info;
      transition: $transition;

      &::before {
        content: "";
        width: 2rem;
        height: 2rem;
        border-radius: 50rem;
        background-color: $secondary;
        position: absolute;
        bottom: 4px;
        left: 4px;
        transition: $transition;
      }
    }
  }
}

// Language
#language {
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 12;
  display: flex;
  flex-direction: column;
  // display: none;
  @include modalActive();

  button {
    width: fit-content;
    padding: 0;
    background-color: transparent;
  }

  @include xlTablet() {
    @include modalDeactive();
    display: none;
    transition: $transition;
  }
}
